{% macro pagination(paginator) %}
   {% if paginator.pages > 1 %}
      <ul class='pagination pagination-sm'>
         {% if paginator.has_prev %}
            <li><a href="{{ url_for_other_page(paginator.prev_num) }}">上一页</a></li>
         {% endif %}

         {% for page in paginator.iter_pages() %}
            {% if page %}
               {% if page != paginator.page %}
                  <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
               {% else %}
                  <li class="active"><span>{{ page }}</span></li>
               {% endif %}
            {% else %}
               <li class="ellipsis"><span>...</span></li>
            {% endif %}
         {% endfor %}

         {% if paginator.has_next %}
            <li><a href="{{ url_for_other_page(paginator.next_num) }}">下一页</a></li>
         {% endif %}
      </ul>
   {% endif %}
{% endmacro %}

{% macro field_errors(field) %}
    {% if field.errors %}
        <ul class="list-form-errors text-danger list-unstyled">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro horizontal_field(field, length=6, label=True) %}
    <div class="form-group">
        {% if label %}
            {{ field.label(class="col-md-2 control-label") }}
        {% endif %}

        <div class="col-md-{{ length }}">
            {{ field(class="form-control", placeholder=field.description, **kwargs) }}
            {{ field_errors(field) }}
        </div>
    </div>
{% endmacro %}

{% macro two_horizontal_field(field1, field2, length1=3, length2=5, label=True) %}
    <div class="form-group">
        {% if label %}
            {{ field1.label(class="col-md-2 control-label") }}
        {% endif %}
        <div class="col-md-{{ length1 }}">
            {{ field1(class="form-control", placeholder=field1.description, **kwargs) }}
            {{ field_errors(field1) }}
        </div>

        {% if label %}
            {{ field2.label(class="col-md-1 control-label") }}
        {% endif %}
        <div class="col-md-{{ length2 }}">
            {{ field2(class="form-control", placeholder=field2.description, **kwargs) }}
            {{ field_errors(field2) }}
        </div>
    </div>
{% endmacro %}

{% macro label_primary(field) %}
    <span class="label label-primary">
        {{ field }}
    </span>
{% endmacro %}

{% macro generate_table(t, recommendations) %}
    <h2>{{ t }}</h2>
    <hr/>
    {% if recommendations.count() %}
        <table class="table table-bordered">
            <tr>
                <td>名称</td>
                <td>类别</td>
                <td>推荐人</td>
                <td>推荐词</td>
                <td>提交时间</td>
                <td>审核备注</td>
                {% if current_user.is_authenticated() and current_user.is_administrator() %}
                    <td>审核</td>
                {% endif %}
                {% if t != '待审核' %}
                    <td>结束时间</td>
                {% endif %}
            </tr>
            {% for recommendation in recommendations %}
                <tr>
                    {% if recommendation.status_id == 1 %}
                        <td>
                            <span class="larger label label-default">
                                {{ recommendation.name }}
                            </span>
                        </td>
                    {% elif recommendation.status_id == 2 %}
                        <td>
                            <span class="larger label label-info">
                                {{ recommendation.name }}
                            </span>
                        </td>
                    {% elif recommendation.status_id == 3 %}
                        <td>
                            <span class="larger label label-success">
                                {{ recommendation.name }}
                            </span>
                        </td>
                    {% elif recommendation.status_id == 4 %}
                        <td>
                            <span class="larger label label-danger">
                                {{ recommendation.name }}
                            </span>
                        </td>
                    {% else %}
                        <td class="larger">{{ recommendation.name }}</td>
                    {% endif %}
                    <td>{{ label_primary(recommendation.cate_id | cateid_to_catename) }}</td>
                    <td><a href="{{ url_for('site.user', id=recommendation.user.id) }}" target="_blank">{{ label_primary(recommendation.user.username | ismyself | normalize) }}</a></td>
                    <td>{{ label_primary(recommendation.recomm_reason | normalize) }}</td>
                    <td><span class="label label-primary">{{ moment(recommendation.created).fromNow(refresh=True) }}</span></td>
                    <td>{{ label_primary(recommendation.remarks | normalize) }}</td>
                    {% if current_user.is_authenticated() and current_user.is_administrator() %}
                        <td>
                            <form method="post" action="{{ url_for('admin.audit_recommenation', recomm_id=recommendation.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="input-group input-group-sm" style="width: 300px;">
                                    <input type="text" name="remarks" class="form-control">
                                    <span class="input-group-btn">
                                    　　{% if recommendation.status_id == 2 or recommendation.status_id == 3 %}
                                            <input class="btn btn-default " type="submit" name="yes-modify" value="更新备注">
                                            <input class="btn btn-default " type="submit" name="yes-append" value="追加备注">
                                    　　{% elif recommendation.status_id == 4 %}
                                            <input class="btn btn-default" type="submit" name="yes" value="通过">
                                       {% elif recommendation.status_id == 1 %}
                                            <input class="btn btn-default" type="submit" name="yes" value="通过">
                                            <input class="btn btn-default" type="submit" name="no" value="不通过">
                                            <input class="btn btn-default" type="submit" name="hide" value="隐藏">
                                       {% endif %}
                                    </span>
                                </div>
                            </form>
                        </td>
                    {% endif %}
                    {% if recommendation.status_id != 1 %}
                        <td><span class="label label-primary">{{ moment(recommendation.finished).fromNow(refresh=True) }}</span></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h5 class="table">暂无</h5>
    {% endif %}
{% endmacro %}
