<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title%}{% endblock %}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}
    {% endblock %}">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    {% block meta %}
    {% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap.theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/component.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/page.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='js/respond.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
      {{ moment.include_jquery() }}
      {{ moment.include_moment() }}
      {{ moment.lang('zh-cn') }}
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46259168-3', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body id="{% block page_id %}{% endblock %}">
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".my-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('site.about') }}">享乐
                <small class="small">享你所乐</small>
            </a>
        </div>
        <div class="collapse navbar-collapse my-navbar-collapse">
            <ul class="nav navbar-nav">
                {% if categories %}
                  {% for category in categories %}
                    <li><a href="{{ url_for('site.index', cate_id=category.id) }}">{{ category.name }}</a></li>
                  {% endfor %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <form class="nav navbar-nav navbar-form" role="search" method="get" action="{{ url_for('site.search') }}">
                    <input type="text" name="keyword" class="form-control input-sm"
                           placeholder="电影名/图书名">
                    <button class="btn btn-default btn-sm" type="submit" title="搜索">
                       <span class="fa fa-search"></span>
                    </button>
                 </form>
                 {% if current_user.is_authenticated() %}
                    {% if current_user.is_administrator() %}
                      <li><a href="{{ url_for('admin.audit') }}"><i class="fa fa-pencil"></i>审核</a></li>
                    {% else %}
                      <li><a href="{{ url_for('user.recommend') }}"><i class="fa fa-plus"></i>我要推荐</a></li>
                      <li><a href="{{ url_for('site.recommendations') }}"><i class="fa fa-list"></i>推荐列表</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('auth.signout') }}"><i class="fa fa-sign-out"></i>登出</a></li>
                 {% else %}
                    <li><a href="{{ url_for('site.recommendations') }}"><i class="fa fa-list"></i>推荐列表</a></li>
                    <li><a href="{{ url_for('auth.signin') }}"><i class="fa fa-sign-in"></i>登陆</a></li>
                 {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div id="main-wap" class="container">
   {% block body %}{% endblock %}
</div>

<div id="footer">
   <div class='container'>
      <div id='copyright'>
         ShareFun ©2014~{{ year }} by <a href="http://ifanan.com" target="_blank">Frank Fu</a>
      </div>

      <ul id='links'>
         <li>
            {# <a target="_blank" href="https://github.com/Fansion">独不如众乐乐</a> #}
            独不如众乐乐
        　</li>
      </ul>
   </div>
</div>

</body>
</html>
