{% extends "layout.html" %}

{% block page_title %}享乐-关于{% endblock %}
{% block page_id %}page-about{% endblock %}

{% block body %}
   <h3>关于</h3>
   <hr />
   <div class="col-md-8 about">
       <p>
        每一部经典的作品都是一个值得深挖/咀嚼/把玩/珍藏/回味的美人，其乐无穷。
    　 </p>
        <p>
        然而世界很大，美人很多也很容易被历史淹没，你的见解和阅历值得影响更多人。
       </p>
       <p>
        我能保证的是这里的每一个上架推荐都有亮点。
       </p>
       <p>
        希望是源于豆瓣，止于你有趣的分享，宁缺毋滥。
       </p>

       <p>Just Share Your Fun！</p>

      <div class="duoshuo">
  <!-- 多说评论框 start -->
              {# <div class="ds-thread" data-thread-key="请将此处替换成文章在你的站点中的ID" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div> #}
              <div class="ds-thread" data-thread-key="1" data-title="about" data-url="sharefun.ifanan.com/about"></div>
  <!-- 多说评论框 end -->
      </div>
   </div>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"sharefun"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endblock %}
