{% extends "layout.html" %}
{% from "macro/common.html" import pagination %}

{% block page_title %}享乐-首页{% endblock %}
{% block page_id %}page-index{% endblock %}

{% block body %}
    {# <legend>全部作品</legend> #}
    <div class="row">
        {# The local date and time is {{ moment(current_time).format('LLL') }}. #}
        {# <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>. #}
        <div class='col-md-9'>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <div class="genres-selector">
                <a href="{{ url_for('site.index') }}" class="genre all {% if not genre_id %}on{% endif %} ">全部</a>
                <a href="{{ url_for('site.index', genre_id=-1) }}" class="genre random {% if genre_id == -1 %}on{% endif %} ">随机</a>
                {% for genre in genres %}
                    <a href="{{ url_for('site.index', genre_id=genre.id, cate_id=genre.cate_id) }}" class="genre {% if genre.id == genre_id %}on{% endif %}">{{ genre.name }}</a>
                {% endfor %}
            </div>
             <div class='works-wap'>
                {% if not works.items %}
                    暂无
                {% endif %}
                {% for work in works.items %}
                    <div class='work-item'>
                        <a href="{{ url_for('site.work', work_id=work.id) }}">
                            {% if work.cate_id == 1 %}
                                <img class="cover img-responsive" src="{{ url_for('static', filename='%s' % work.cover_path) }}" title="{{ work.title }}" alt="{{ work.title }}">
                            {% elif work.cate_id == 2 %}
                                <img class="cover img-responsive" src="{{ work.cover_url }}" title="{{ work.title }}" alt="{{ work.title }}">
                            {% endif %}
                            <p class='title'>{{ work.title }}</p>
                            {% if work.cate_id == 1 %}
                                <p class='director'>{{ work.director }}</p>
                            {% elif work.cate_id == 2 %}
                                <p class='author'>{{ work.author }}</p>
                            {% endif %}
                        </a>
                    </div>
                {% endfor%}
            </div>
            {{ pagination(works) }}
        </div>
        <div class='col-md-3'>
             <div class="statistics">
                <p>共{{ total }}个推荐</p>
                <p> {{ success }}个已成功上架,{{ failure }}个未通过审核</p>
             </div>
             <div class='comments-section'>
                <div class="comments-header">
                    最近评论(<a href="{{ url_for('site.comments') }}">所有评论</a>)
                </div>
                <div class="comments-wap">
                    {% if newest_comments.count() > 0 %}
                        {% for comment in newest_comments %}
                            <div class="comment-item">
                                <div class="comment-info">
                                    <div class="comment-username-created">
                                        <li class="comment-username"><a href="{{ url_for('site.user', id=comment.user_id) }}" target="_blank">{{ comment.user.username | ismyself | normalize }}</a></li>
                                        <li> &nbsp;于&nbsp; </li>
                                        {# <li>{{ comment.created }}</li> #}
                                        <li>{{ moment(comment.created).fromNow(refresh=True) }}</li>
                                    </div>
                                    <div class="comement-workname">
                                        在《<a href="{{ url_for('site.work', work_id=comment.work.id) }}" target="_blank">{{ comment.work.title }}</a>》发表评论：

                                    </div>
                                </div>
                                <div class="comment-content">
                                    {{ comment.content | markdown | safe }}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        暂无
                    {% endif %}
                </div>
             </div>
        </div>
    </div>
{% endblock %}

