{% extends "layout.html" %}
{% from "macro/common.html" import generate_table with context %}


{% block page_title %}所有推荐
{% endblock %}
{% block page_id %}page-recommendations
{% endblock %}

{% block body %}
    {# <legend>推荐列表</legend> #}
    {% for statusid_recommendation in statusids_recommendations %}
        {% if statusid_recommendation[0] == 1 %}
            {{ generate_table('待审核', statusid_recommendation[1]) }}
        {% elif statusid_recommendation[0] == 2 %}
            {{ generate_table('审核通过暂未上架', statusid_recommendation[1]) }}
        {% elif statusid_recommendation[0] == 3 %}
            {{ generate_table('审核通过已上架', statusid_recommendation[1]) }}
        {% elif statusid_recommendation[0] == 4 %}
            {{ generate_table('审核不通过', statusid_recommendation[1]) }}
        {% endif %}
    {% endfor %}
{% endblock %}
