{% extends "layout.html" %}
{% from "macro/common.html" import generate_table with context %}


{% block page_title %}享乐-所有推荐页
{% endblock %}
{% block page_id %}page-recommendations
{% endblock %}

{% block body %}
    {# <legend>推荐列表</legend> #}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h5>备注:</h5>
        <p>推荐作品需经过后台管理员审核，结果为审核通过或审核不通过。审核通过的作品分为暂未上架和已上架，后台爬虫每天定时4次对审核通过的作品信息进行抓取并上架。</p>
        <hr/>
        <p>爬虫会在豆瓣用户登陆后1小时之内抓取并显示豆瓣用户对目前已上架作品的所有评论信息。</p>
        <p>豆瓣用户在本站推荐或者评论作品，相关信息会及时推送豆瓣进行备份。</p>
        <p>受限于豆瓣的开放政策，与豆瓣同步暂时只支持图书类，目前正申请权限中。</p>
    </div>
    <br/>
    {% for statusid_recommendation in statusids_recommendations %}
        {% if statusid_recommendation[0] == 1 %}
            {{ generate_table('待审核', statusid_recommendation[1]) }}
        {% elif statusid_recommendation[0] == 2 %}
            {{ generate_table('审核通过暂未上架', statusid_recommendation[1]) }}
        {% elif statusid_recommendation[0] == 3 %}
            {{ generate_table('审核通过已上架', statusid_recommendation[1]) }}
        {% elif statusid_recommendation[0] == 4 %}
            {{ generate_table('审核不通过', statusid_recommendation[1]) }}
        {% elif statusid_recommendation[0] == 5 and current_user.is_authenticated() and current_user.is_administrator() %}
            {{ generate_table('隐藏', statusid_recommendation[1]) }}
        {% endif %}
    {% endfor %}
{% endblock %}
