{% extends "layout.html" %}

{% block page_title %}享乐-用户页{% endblock %}
{% block page_id %}page-user{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <div class="user-wap">
                <h2 class="username">{{ user.username }}</h2>
                <p class="info">于{{ moment(user.created).fromNow(refresh=True) }}注册, 暂属于{{ user.role.name | engrolename_chinrolename }}</p>
            </div>
            <div class="works-wap">
                {% if user.recommendations.count() > 0 %}
                    <h4>{{ user.username | ismyself }}的成功推荐({{ success_recomms_count }})</h4>
                    <hr />
                    {% for recomm in user.recommendations %}
                        {% if recomm.work.id %}
                            <div class='work-item'>
                                    <a href="{{ url_for('site.work', work_id=recomm.work.id) }}">
                                        {% if recomm.work.cate_id == 1 %}
                                            <img class="cover img-responsive" src="{{ url_for('static', filename='%s' % recomm.work.cover_path) }}" title="{{ recomm.work.title }}" alt="{{ recomm.work.title }}">
                                        {% endif %}
                                        <p class='title'>{{ recomm.work.title }}</p>
                                        <p class='director'>{{ recomm.work.director }}</p>
                                    </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="comments-wap">
                {% if user.comments.count() > 0 %}
                    <h4>{{ user.username | ismyself }}的所有评论({{ comments_count }})</h4>
                    <hr />
                    {% for comment in user.comments %}
                        <div class="comment-item">
                            <div class="comment-content">
                                {{ comment.content | markdown | safe }}
                            </div>
                            <div class="comment-info">
                                <li class="comment-created">于{{ moment(comment.created).fromNow(refresh=True) }}</li>
                                <li>&nbsp;在</li>
                                <li class="comment-workname">《<a href="{{ url_for('site.work', work_id=comment.work.id) }}" target="_blank">{{ comment.work.title }}</a>》</li>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
