{% extends "layout.html" %}
{% from "macro/common.html" import field_errors, horizontal_field %}

{% block page_title %}享乐-作品页{% endblock %}
{% block page_id %}page-work{% endblock %}

{% block body %}
    <div class="row">
        <div class='col-md-8'>
            <div class="work-header">
                {% if work.cate_id == 2 %}
                    <img class="work-cover img-responsive" src="{{ work.cover_url }}" title="{{ work.title }}" alt="{{ work.title }}">
                {% else %}
                    <img class="work-cover img-responsive" src="{{ url_for('static', filename='%s' % work.cover_path) }}" title="{{ work.title }}" alt="{{ work.title }}">
                {% endif %}
                <div class="work-info-wap">
                    <h1>{{ work.title }}</h1>
                    <p class='score'>{{ work.score }}分</p>
                    <p class='genre'>
                        {% for genre in genres %}
                            <a href="{{ url_for('site.index', genre_id=genre.id, cate_id=genre.cate_id) }}">
                                {{ genre.name }}
                            </a>
                        {% endfor %}
                    </p>
                    {% if work.cate_id == 2 %}
                        <p class='author'>{{ work.author }}</p>
                    {% else %}
                        <p class='director'>{{ work.director }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="intro-info-wap">
                {% if work.recommendation.user %}
                    <p class="introducer">推荐人：<a href="{{ url_for('site.user', id=work.recommendation.user.id) }}" target="_blank">{{ work.recommendation.user.username | ismyself | normalize }}</a></p>
                {% endif %}
                {% if work.recommendation.recomm_reason %}
                    <p class="recomm_reason">推荐词：{{ work.recommendation.recomm_reason }}</p>
                {% endif %}
            </div>
            <div class="paging">
                <div class="prev">
                    {% if prev %}
                        <p class="pre"><a href="{{ url_for('site.work', work_id=prev.id) }}">{{ prev.title }}></a></p>
                    {% endif %}
                </div>
                <div class="next">
                    {% if next %}
                        <p class="next"><a href="{{ url_for('site.work', work_id=next.id) }}">>{{ next.title }}</a></p>
                    {% endif %}
                </div>
            </div>
            <div class='work-desc'>
                <h4>[简介]</h4>
                {{ work.desc|safe }}
            </div>
            <div class="work-comments">
                {% if current_user.is_authenticated() %}
                    <div class="write-comment">
                        <h4>发表评论</h4>
                        <hr/>
                        <form id="form-comment" class="form-horizontal" method="POST" action="{{ url_for('site.work', work_id=work.id) }}">
                            {{ form.csrf_token }}
                            {{ horizontal_field(form.content, length=12, label=False) }}
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> 发表评论</button>
                        </form>
                    </div>

                {% endif %}

                {% if work.comments.count() > 0 %}
                    <h4>最新评论</h4>
                    <hr/>
                    <div class="comments-wap">
                        {% for comment in work.comments %}
                            <div class="comment-item">
                                <div class="comment-info">
                                    <div class="comment-username">
                                        {{ comment.user.username }}
                                    </div>
                                    <div class="comment-created">
                                    {{ moment(comment.created).fromNow(refresh=True) }}
                                    </div>
                                </div>
                                <div class="comment-content">
                                    {{ comment.content | markdown | safe }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class='col-md-4'>
             <div class='work-douban-link'>
                {% if work.url %}
                   <a href="{{ work.url }}" target="_blank">
                      <img src="http://img3.douban.com/pics/douban-icons/favicon_32x32.png" title="《{{ work.title }}》豆瓣主页" class="img-responsive">
                   </a>
                {% endif %}
             </div>
        </div>
    </div>

{% endblock %}

